<html>

<head>
    <title>UPLOAD FILE</title>
</head>

<body>
    <form action="http://localhost:3001/product_types" method="post" enctype="multipart/form-data">
        <select name="loai">
      <option value="0">- Chọn Loại Bánh -</option>
      <option value="cupcakes">CUPCAKES</option>
      <option value="cakes">CAKES</option>
      <option value="macarons">MACARONS</option>
      <option value="cookies">COOKIES</option>


    </select></br>
        <input type="text" name="ten" placeholder="Ten banh"></br>
        <input type="file" name="file"></br>
        <textarea name="mota"></textarea></br>
        <input type="submit" value="upload">
    </form>

</body>

</html>